.app-background {
    background: linear-gradient(70deg, var(--primary-color) 15%, var(--secondary-color) 95%);
    height: 100%;
}
.title-style {
    padding-top: 40px;
    padding-bottom: 160px;
    font-size: 30pt;
    font-weight: bold;
    color: white;
  }