.weather-details {
    word-break: break-all;
    width: 220px;
    height: 90px;
    max-height: 70px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 12pt;
    margin-top: 20px;
    margin-left: 20px;
}
.weather-icon {
    width: 30px;
    height: 30px;
}